.navbar {
     border-radius: 0px !important; 
}

.alertPropertyDomain {
    padding: 4px !important;
    margin-bottom: 0 !important;
}

.space {
    padding-left: 25px;
}

.checkboxpad{
    padding-top: 10px;
}

.app-modal-window .modal-dialog {
  width: 60% !important;
}
.popover-title{
    background-color: #101010;
   font-weight: bold;
   color: white;
   margin: 0;
}
.success{
    color: green;
    font-weight: bold;
}

.error{	
	color: red;
    font-weight: bold;
}
.NoData{
    text-align: center;
    font-weight: bold;
}

.modal-footer {   border-top: 0px; }